
<div>
    <div class="spin-container">
        <button @onclick="Up" disabled="@(isButtonInActive)">
            <svg width="48" height="48" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 11.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
        </button>
        <label class="title">@Title</label>
        <div class="spin-border">
            <div class="spin">@Number</div>
        </div>
        <button @onclick="Down" disabled="@(isButtonInActive)">
            <svg width="48" height="48" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
        </button>
    </div>
</div>

@code {

    [Parameter]
    public Boolean isHour { get;set;}

    [Parameter]
    public string Title { get; set; }

    
    public Boolean isButtonInActive { get;set;}


    public int Number { get; set; }

    public void SetNumber(int value)
    {
        Number=value;
        StateHasChanged();
    }

    void Up()
    {
        Number ++;
        if (isHour)
        {
            if(Number == 13)
            {
                Number =0;
            }
        }
        else
        {
            if(Number == 60)
            {
                Number =0;
            }
        }
    }

    void Down()
    {
        Number --;
        if (isHour)
        {
            if(Number < 0)
            {
                Number =12;
            }
        }
        else
        {
            if(Number < 0)
            {
                Number =59;
            }
        }
    }
}
